h1 {
  color: #3c6382;
  font-family: cursive;
  font-size: 76px;
}

h2 {
  font-family: cursive;
  font-size: 49px;
  height: 160px;
  width: 160px;
}

.circle {
  border: 4px solid #F5F5F5;
  border-radius: 50%;
  box-shadow: 0 0 8px 8px #576574;
  height: 180px;
  width: 180px;
}

.gray {
  background-color: #c8d6e5;
}

.red {
  background-color: #e74c3c;
}
.green {
  background-color: #2ecc71;
}

.purple {
  background-color: #9b59b6;
}

.turquis {
  background-color: #1abc9c;
}

.pink {
  background-color: #fab1a0;
}

.mushroom {
  background-image: url("./mushroom.png");
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}

.hola {
  background-color: #1abc9c;
}
